<div class="text-left">
  {{ $image:= .Params.image }}
  {{ if $image }}
    <div class="aspect-square mb-6">
      {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "object-cover w-full h-full object-center" "size" "150x150") }}
    </div>
  {{/*  {{ else if .Params.Email }}
    <div class="aspect-w-4 aspect-h-3 mb-6">
      <img
        class="w-full h-full object-cover border-4 border-red-500"
        alt="{{ .Title }}"
        src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=128&pg&d=identicon" />
    </div>  */}}
  {{ end }}

  <h6 class="mb-1">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h6>
  <p class="mb-2">
    {{ .Params.roles }}
  </p>
  {{/*  <p class="mb-2">
    {{ .Params.keyword }}
  </p>  */}}
  {{/*  <ul class="social-icons mt-4">
    {{ range .Params.social }}
      <li>
        <a href="{{ .link | safeURL }}" target="_blank" rel="noopener nofollow">
          <span class="sr-only">{{ .title }}</span>
          <i class="{{ .icon }}"></i>
        </a>
      </li>
    {{ end }}
  </ul>  */}}
</div>
