<div class="text-left">
  {{ if .Params.image }}

    <div class="aspect-square mb-6">
      <a href="{{ .RelPermalink }}" class="cursor-pointer block">
        {{ partial "image" (dict
          "Src" .Params.image
          "Context" .Page
          "Alt" .Title
          "Class" "object-cover w-full h-full object-center sm:w-3/4 sm:h-3/4 md:w-full md:h-full transition-transform duration-200 hover:scale-105"
          "size" "150x150"
        ) }}
      </a>
    </div>

  {{ end }}

  <h6 class="mb-1">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h6>

  <p class="mb-2">
    {{ .Params.display_role | default .Params.roles }}
  </p>
</div>