<div class="bg-body dark:bg-darkmode-body flex">
  {{/*  // blog-card image 유무 설정  */}}
  {{/*  {{ $image:= .Params.image }}
  {{ if $image }}
    <div class="w-1/6">
      {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "mb-6 w-full border rounded") }}
    </div>
  {{ end }}  */}}
  <div class="pl-12">
    <h6 class="mb-3">
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </h6>
    {{ $categories:= .Params.categories }}
    {{ if $categories }}
    <ul class="mb-2 flex flex-col space-y-1">
      <li class="mr-4 inline-block">
          {{ $authors := .Params.author }}
          {{ $highlightAuthor := .Params.highlightauthor }}
          {{ $splitAuthors := split $authors "," }}
          {{ range $index, $author := $splitAuthors }}
            {{ $author = $author | strings.TrimSpace }} <!-- 공백 제거 -->
            {{ if in $highlightAuthor $author }}
              <a href="{{ `team/` | relLangURL }}{{ $author | urlize }}/" class="text-black dark:text-white font-light">{{ $author }}</a>
            {{ else }}
              <span class="text-gray-400 font-light">{{ $author }}</span>
            {{ end }}
            <!-- 쉼표 추가 (마지막 요소 제외) -->
            {{ if ne $index (sub (len $splitAuthors) 1) }}, {{ end }}
          {{ end }}
        </li>
        <li class="mr-4 inline-block font-light">
          <div class="flex items-center">
            <p class="mr-6">
              {{ .Params.journal }}
            </p>


                        {{/*  카테고리  */}}

            {{/*  <i class="fa-regular fa-folder mr-1"></i>  */}}
            {{/*  <div class="flex items-center space-x-1">
              {{ range $i, $p := $categories }}
                <a
                  href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/"
                  class="ms-1"
                  >{{ . | humanize }}{{ if ne $i (sub (len $categories) 1) }}
                    {{ "," }}
                  {{ end }}
                </a>
              {{ end }}
            </div>  */}}
          </div>
        </li>
      </ul>
    {{ end }}
  


    {{/*  <p class="mb-6">{{ .Summary }}</p>  */}}
    {{/*  <a class="btn btn-outline-primary btn-sm" href="{{ .RelPermalink }}">
      {{ T "read_more" }}
    </a>  */}}
  </div>
</div>
