{{ define "main" }}
  {{ partial "page-header" . }}

  {{ with site.GetPage "sections/testimonial" }}
    {{ if .Params.enable }}
      <section class="section-sm">
        <div class="container">
          <div class="row">
            <div class="md:col-10 lg:col-8 xl:col-6 mx-auto mb-12 text-center">
              <h2 class="h3 mb-4">
                {{ .Title | markdownify }}
              </h2>
              <p>
                {{ .Params.description | markdownify }}
              </p>
            </div>

            <!-- 연도 헤더 -->
            <div class="w-full mb-8 px-4">
              <h4 class="mb-4 text-xl font-semibold">2025</h4>

              <div class="testimonial-list space-y-6">
                {{ $sortedTestimonials := sort .Params.testimonials "date" "desc" }}
                {{ range $sortedTestimonials }}
                  <div class="testimonial-item p-4 border border-gray-200 dark:border-gray-700 sm:border-none rounded-md">
                    <div class="flex flex-col sm:flex-row sm:items-center sm:space-x-4">
                      <!-- 날짜 -->
                      <h4 class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200 mb-2 sm:mb-0">
                        {{ .day }}
                      </h4>
                  
                      <!-- Tag -->
                      {{ if eq .type "News" }}
                        <p class="text-sm font-bold mb-2 sm:mb-0 sm:mr-4" style="color: {{ .color }};">
                          {{ .type }}
                        </p>
                      {{ end }}
                    </div>
                  
                    <!-- 본문 내용 -->
                    <blockquote class="mt-2 text-sm sm:text-base text-gray-700 dark:text-gray-300">
                      {{ .content | markdownify }}
                    </blockquote>
                  </div>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
      </section>
    {{ end }}
  {{ end }}
{{ end }}