{{ define "main" }}
  {{ partial "page-header" . }}


  <section class="section">
    <div class="container">
      <div class="row mb-8">
        <h4 class="mb-4">Faculties</h4>
        <!-- Professor -->
        {{ range sort .RegularPages "Params.order" }}
        {{ if and (eq .Params.roles "Professor") (not (.Params.collaborator)) }}
          <div class="md:col-6 lg:col-2 mb-14">
                {{ partial "components/author-card" . }}
          </div>
        {{ end }}
        {{ end }}
      </div>
      <div class="row mt-10 mb-8">
        <h4 class="mb-4">M.S. Students</h4>
        <!-- M.S. Student -->
        {{ range .RegularPages }}
          {{ if and (eq .Params.roles "M.S. Student") (not (.Params.collaborator)) }}
            <div class="md:col-6 lg:col-2 mb-14">
              {{ partial "components/author-card" . }} 
            </div>
          {{ end }}
        {{ end }}
      </div>
      <div class="row mt-10 mb-8">
        <h4 class="mb-4">Interns</h4>
        <!-- Intern -->
        {{ range .RegularPages }}
          {{ if and (eq .Params.roles "Intern") (not (.Params.collaborator)) }}
            <div class="md:col-6 lg:col-2 mb-14">
              {{ partial "components/author-card" . }}
            </div>
          {{ end }}
        {{ end }}
      </div>
      <div class="row mt-10 mb-8">
        <h4 class="mb-4">Collaborating Researchers</h4>
        <!-- Collaborator -->
        {{ range .RegularPages }}
          {{ if eq .Params.collaborator "O" }}
            <div class="md:col-6 lg:col-2 mb-14">
              {{ partial "components/author-card" . }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
