{{ define "main" }}
  {{ partial "page-header" . }}

  <section class="section">
    <div class="container">
      <div class="row mb-8">
        <h4 class="mb-4">Faculties</h4>
        <!-- Professor (sorted by first name) -->
        {{ $pages := slice }}
        {{ range .RegularPages }}
          {{ if and (eq .Params.roles "Professor") (not (.Params.collaborator)) }}
            {{ $title := .Params.title }}
            {{ $words := split $title " " }}
            {{ $firstWord := index $words 0 }}
            {{ $pages = $pages | append (dict "Page" . "SortKey" $firstWord) }}
          {{ end }}
        {{ end }}

        {{ range sort $pages "SortKey" }}
          <div class="md:col-6 lg:col-2 mb-14">
            {{ partial "components/author-card" .Page }}
          </div>
        {{ end }}
      </div>

      <div class="row mt-10 mb-8">
        <h4 class="mb-4">M.S. Students</h4>
        <!-- M.S. Student (sorted by join date) -->
        {{ $pages := slice }}
        {{ range .RegularPages }}
          {{ if and (eq .Params.roles "M.S. Student") (not (.Params.collaborator)) }}
            {{ $joinDate := .Params.join_date | default "9999-12-31" }}
            {{ $pages = $pages | append (dict "Page" . "SortKey" $joinDate) }}
          {{ end }}
        {{ end }}

        {{ range sort $pages "SortKey" }}
          <div class="md:col-6 lg:col-2 mb-14">
            {{ partial "components/author-card" .Page }}
          </div>
        {{ end }}
      </div>

      <div class="row mt-10 mb-8">
        <h4 class="mb-4">Interns</h4>
        <!-- Intern (sorted by join date) -->
        {{ $pages := slice }}
        {{ range .RegularPages }}
          {{ if and (eq .Params.roles "Intern") (not (.Params.collaborator)) }}
            {{ $joinDate := .Params.join_date | default "9999-12-31" }}
            {{ $pages = $pages | append (dict "Page" . "SortKey" $joinDate) }}
          {{ end }}
        {{ end }}

        {{ range sort $pages "SortKey" }}
          <div class="md:col-6 lg:col-2 mb-14">
            {{ partial "components/author-card" .Page }}
          </div>
        {{ end }}
      </div>

      {{/*  <div class="row mt-10 mb-8">
        <h4 class="mb-4">Visiting Researchers</h4>
        {{ range .RegularPages }}
          {{ if and (eq .Params.roles "Visiting Researcher") (not (.Params.collaborator)) }}
            <div class="md:col-6 lg:col-2 mb-14">
              {{ partial "components/author-card" . }}
            </div>
          {{ end }}
        {{ end }}
      </div>  */}}

      <div class="row mt-10 mb-8">
        <h4 class="mb-4">Collaborating Researchers</h4>

            {{ range .RegularPages }}
              {{ if eq .Params.collaborator 0 }}
                <div class="md:col-6 lg:col-2 mb-8">
                  {{ partial "components/author-card" . }}
                </div>
              {{ end }}
            {{ end }}
        </div>

        <div class="row mt-10 mb-8">
  
              {{ range .RegularPages }}
                {{ if eq .Params.collaborator 1 }}
                  <div class="md:col-6 lg:col-2 mb-8">
                    {{ partial "components/author-card" . }}
                  </div>
                {{ end }}
              {{ end }}
          </div>

          <div class="row mt-10 mb-8">
            <h4 class="mb-4">Alumni</h4>
            <!-- M.S. Students first -->
            {{ range .RegularPages }}
              {{ if and (eq .Params.roles "Alumni") (not (.Params.collaborator)) (eq .Params.display_role "M.S. Student") }}
                <div class="md:col-6 lg:col-2 mb-8">
                  {{ partial "components/author-card" . }}
                </div>
              {{ end }}
            {{ end }}
            <!-- Visiting Researchers -->
            {{ range .RegularPages }}
              {{ if and (eq .Params.roles "Alumni") (not (.Params.collaborator)) (eq .Params.display_role "Visiting Researcher") }}
                <div class="md:col-6 lg:col-2 mb-8">
                  {{ partial "components/author-card" . }}
                </div>
              {{ end }}
            {{ end }}
            <!-- Interns -->
            {{ range .RegularPages }}
              {{ if and (eq .Params.roles "Alumni") (not (.Params.collaborator)) (eq .Params.display_role "Intern") }}
                <div class="md:col-6 lg:col-2 mb-8">
                  {{ partial "components/author-card" . }}
                </div>
              {{ end }}
            {{ end }}
          </div>

        </div>
      </div>
    </div>
  </section>
{{ end }}